<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'users/css/background-side.sass' %}">
{% endblock %}

{% block title %}Password reset Done{% endblock %}
{% block content %}
<div class="login-background" />
<div class="center-container more-space-top">
	<img class="center" src="{% static 'users/images/logo.png' %}" alt="Chef Logo" />
<h1 class="center-text">Password reset complete</h1>
<p class="reset-sent-message">
Your password has been reset.</p>
<p class="reset-sent-message"><a href="{% url 'login' %}">Sign In</a></p>
</div>
{% endblock %}