<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'users/css/background-side.sass' %}">
{% endblock %}

{% block title %}Password Reset Form{% endblock %}
{% block content %}
<div class="login-background" />
<div class="center-container">
	<img class="center" src="{% static 'users/images/logo.png' %}" alt="Chef Logo" />
<h1 class="center-text">Forgot Password?</h1>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button class="primary-button" type="submit">Submit</button>
</form>
</div>
{% endblock %}