<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'users/css/background-side.sass' %}">
{% endblock %}

{% block content %}
<div class="login-background" />
<div class="center-container more-space-top reset-sent-message">
	<img class="center" src="{% static 'users/images/logo.png' %}" alt="Chef Logo" />
<p>
We've emailed you instructions for setting your password, if an account exists with the email you entered.
You should receive them shortly.
</p>
<p>
If you don't receive an email, please check your spam folder, or try to enter your email again.
</p>
<a href="{% url 'password_reset' %}">Re-Enter Email</a>
</div>
{% endblock %}