<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'users/css/background-side.sass' %}">
{% endblock %}

{% block title %}Change password{% endblock %}
{% block content %}
<div class="login-background" />
<div class="center-container more-space-top">
	<img class="center" src="{% static 'users/images/logo.png' %}" alt="Chef Logo" />
<h1 class="center-text">Change Password</h1>
{% if validlink %}
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button class="primary-button" type="submit">Submit</button>
</form>
{% else %}
<p class="reset-sent-message">
The password reset link was invalid, possibly because it has already been used.
Please request a new password reset.
</p>
{% endif %}
</div>
{% endblock %}