<!-- templates/home_base.html -->
<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Sustainable Chef{% endblock %}</title>
  <link rel='shortcut icon' type='image/png' href="{% static 'favicon.ico' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito|Pacifico&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="{% sass_src 'recipe_recommender/css/base.sass' %}">
  {% block css %}
  <link>
  {% endblock %}
</head>
<body>
  <main>
    {% if user.is_authenticated %}
      <div class='header'>
        {% csrf_token %}
        <div class='navLinks'>
          <a href="{% url 'home' %}">
            <img class='headerImage' src="{% static 'users/images/logo.png' %}" alt='Chef Logo'/>
          </a>
          <a class="navLink" href="{% url 'home' %}">Home</a>
          <a class="navLink" href="{% url 'scanner' %}">Scan Items</a>
        </div>
        <h1 class='centerHeader'>Sustainable Chef</h1>
        <div class="profileLinks">
          <a class='profileLink' href="{% url 'logged_out' %}">Logout</a>
          <span class='profileLink'>Hello, {{ user.username }}!</span>
        </div>
      </div>
      {% block content %}
      {% endblock %}
    {% else %}
      <p>You are not logged in</p>
      <p><a href="{% url 'login' %}">Login</a></p>
      <p><a href="{% url 'signup' %}">Sign Up</a></p>]
    {% endif %}
  </main>
</body>
</html>