<!-- templates/recipe_recommender/home.html -->
{% extends 'after_login_base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'recipe_recommender/css/home.sass' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<input type="hidden" id="userId" name="userId" value={{ user.id }} />
<div class="mainContent">
  <div class="flexWrap spaceB">
    <div class='expiring dashItem dashBackground'>
      <h1 class="centerHeader">My Inventory</h1>
      <ul id="expiringItems" class="noStyle">
        {% for title, number in expiring_items.items %}
          <li class="expiringLi">
            <span class="expiringText">{{ number }}</span>
            <span class="expiringTimeline">{{ title }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class='saved_recipes dashItem dashBackground'>
      <h1 class="centerHeader">My Favorite Recipes</h1>
      <ul id="mySavedRecipes" class="noStyle">
        {% if saved_recipes %}
          {% for el in saved_recipes %}
            <li id='saved-{{ el.id }}'>
              <a class="boldFont" href={{ el.recipe_url }} target="blank">
                {{ el.title }}
              </a>
              <button onclick='deleteSavedRecipe({{ el.id }})'> X </button>
            </li>
          {% endfor %}
        {% else %}
          <li>No recipes saved</li>
        {% endif %}
      </ul>
    </div>
    <div class='dashItem dashBackground'>
      <h1 class="centerHeader">Manage Inventory</h1>
      <ul id="myPantryItems" class='noStyle'>
        {% if user_pantry %}
          {% for item in user_pantry %}
            <li id='pantry-{{ item.id }}'>
              {{ item.title }}
              <button onclick='deletePantryItem({{ item.id }})'>X</button>
            </li>
          {% endfor %}
        {% else %}
          <li>No food in pantry</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class='new_recipes dashBackground'>
    <h1 class="centerHeader">Suggested Recipes</h1> 
    <ul id="recRecipes" class=" flexWrap noStyle">
      {% for el in rec_recipes %}
        <li class="recipeLi" id='rec-{{ el.id }}'>
          <img class="recipeImg" src={{ el.image }} />
          <div>
            <a class="boldFont" href={{ el.sourceUrl }} target="blank">
              {{ el.title }}
            </a>
          </div>
          <div>
            Uses {{ el.used_items }} inventory items
          </div>
          <button onclick='saveRecRecipe("{{ el.id }}", "{{ el.title }}", "{{ el.image }}", "{{ el.sourceUrl }}")'>Save Recipe</button>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<script src="{% static 'recipe_recommender/jquery-1.9.0.min.js' %}" type="text/javascript"></script>
<script src="//webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>
<script src="{% static 'recipe_recommender/user_information.js' %}" type="text/javascript"></script>
{% endblock %}