{% extends 'after_login_base.html' %}
<!DOCTYPE html>
{% load static %}
{% csrf_token %}
{% block css %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="author" content="Christoph Oberhofer" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="{% static 'recipe_recommender/css/styles.css' %}" />
{% endblock %}

{% block content %}  
<input type="hidden" id="userId" name="userId" value={{ user.id }} />
<section id="container" class="container">
  <div class="controls">
    <fieldset class="input-group">
      <input type="button" name="open" id="openModal" value="Open" />
      <button class="stop">Stop</button>
    </fieldset>
    <fieldset class="reader-config-group">
      <label>
        <span>Barcode-Type</span>
        <select name="decoder_readers">
          <option value="code_128">Code 128</option>
          <option value="code_39">Code 39</option>
          <option value="code_39_vin">Code 39 VIN</option>
          <option value="ean">EAN</option>
          <option value="ean_extended">EAN-extended</option>
          <option value="ean_8">EAN-8</option>
          <option value="upc" selected="selected">UPC</option>
          <option value="upc_e">UPC-E</option>
          <option value="codabar">Codabar</option>
          <option value="i2of5">Interleaved 2 of 5</option>
          <option value="2of5">Standard 2 of 5</option>
          <option value="code_93">Code 93</option>
        </select>
      </label>
      <label>
        <span>Resolution (width)</span>
        <select name="input-stream_constraints">
          <option value="320x240">320px</option>
          <option selected="selected" value="640x480">640px</option>
          <option value="800x600">800px</option>
          <option value="1280x720">1280px</option>
          <option value="1600x960">1600px</option>
          <option value="1920x1080">1920px</option>
        </select>
      </label>
      <label>
        <span>Patch-Size</span>
        <select name="locator_patch-size">
          <option value="x-small">x-small</option>
          <option value="small">small</option>
          <option selected="selected" value="medium">medium</option>
          <option value="large">large</option>
          <option value="x-large">x-large</option>
        </select>
      </label>
      <label>
        <span>Half-Sample</span>
        <input type="checkbox" checked="checked" name="locator_half-sample" />
      </label>
      <label>
        <span>Workers</span>
        <select name="numOfWorkers">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option selected="selected" value="4">4</option>
          <option value="8">8</option>
        </select>
      </label>
      <label>
        <span>Camera</span>
        <select name="input-stream_constraints" id="deviceSelection">
        </select>
      </label>
      <label style="display: none">
        <span>Zoom</span>
        <select name="settings_zoom"></select>
      </label>
      <label style="display: none">
        <span>Torch</span>
        <input type="checkbox" name="settings_torch" />
      </label>
    </fieldset>
  </div>
  <div id="result_strip">
    <ul class="thumbnails"></ul>
    <ul class="collector"></ul>
  </div>
  <div id="interactive" class="viewport"></div>
  <div class='dashItem dashBackground'>
    <h1 class="centerHeader">Manage Inventory</h1>
    <ul id="myPantryItems" class='noStyle'>
      {% if user_pantry %}
        {% for item in user_pantry %}
          <li id='pantry-{{ item.id }}'>
            {{ item.title }}
            <button onclick='deletePantryItem({{ item.id }})'>X</button>
          </li>
        {% endfor %}
      {% else %}
        <li>No food in pantry</li>
      {% endif %}
    </ul>
  </div>
</section>
<footer>
  <p>
    QuaggaJS Scanner &copy; Made with ❤️ by Christoph Oberhofer
  </p>
</footer>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content" id="modalContent">
    <span class="close">&times;</span>
    <form id='exp_form'>
      <fieldset class="date">
        <legend>Expires on</legend>
        <label for="expire_month">Month</label>
        <select id="expire_month"
                name="expire_month" />
          <option>January</option>      
          <option>February</option>      
          <option>March</option>      
          <option>April</option>      
          <option>May</option>      
          <option>June</option>      
          <option>July</option>      
          <option>August</option>      
          <option>September</option>      
          <option>October</option>      
          <option>November</option>      
          <option>December</option>      
        </select> -
        <label for="expire_day">Day</label>
        <select id="expire_day" name="expire_day">
          {% for i in day_range %}
            <option>{{ i }}</option>      
          {% endfor %}      
        </select> -
        <label for="expire_year">Year</label>
        <select id="expire_year" name="expire_year">
          {% for i in year_range %}
              <option>{{ i }}</option>      
          {% endfor %}
        </select>
        <span class="inst">(Month-Day-Year)</span>
        <select id='qty' name='quantity'>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
        <span class="inst">Quantity</span>
        <input type="hidden" id="userId" name="userId" value={{ user.id }}>
      </fieldset>
      <input type="button" name="submit" id="submitButton" value="Submit Product" /> 
    </form>
  </div>
</div>
<script src="{% static 'recipe_recommender/jquery-1.9.0.min.js' %}" type="text/javascript"></script>
<script src="//webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>
<script src="{% static 'recipe_recommender/quagga.js' %}" type="text/javascript"></script>
<script src="{% static 'recipe_recommender/live_w_locator.js' %}" type="text/javascript"></script>
{% endblock %}
