<!--recommender/recipe.html-->
{% extends 'after_login_base.html' %}
{% block content %}
    <h1> {{ name }} </h1>
    {% for el in data.extendedIngredients %}
        <div>
            {{ el.name }}
        </div>
    {% endfor %}
{% endblock %}