<!--recommender/recipes.html-->
{% extends 'base.html' %}
{% block content %}
  {% for el in data %}
    <div>
      <a href="./{{ el.id }}">{{ el.title }}</a>
      <p>{{ el.sc_score }}
    </div>
  {% endfor %}
{% endblock %}