@use variables, mixins

main
    margin: 0
    padding: 0
body 
    line-height: 142%
    font-family: $primary-font
    background: $white
    margin: 0
    padding: 0

%italic 
    font-style: italic

%bold
    font-weight: 900

%no-text-d
    text-decoration: none

