@import 'mixins', 'variables', 'base_auth'

/*Global Settings*/
.italic
    @extend %italic

.bold
    @extend %bold

.no-text-d
    @extend %no-text-d
/*----------------------------------------------------------------------*/

/*Two Column Styling*/
.container
    @include tablet-landscape-up
        display: flex
        width: 100vw
        height: 100vh

.info-l
    @include tablet-landscape-up
        flex-direction: row

.info-r
    @include tablet-landscape-up
        flex-direction: row-reverse

.info-col 
    @include phone-only 
        width: 100%
        height: 70vh
        margin: 15vh 0 15vh 0
        background: $white
    @include tablet-portrait 
        width: 100%
        height: 80vh
        margin: 10vh 0 10vh 0
        background: $white
    @include tablet-landscape-up
        width: 40%
        background: 100% $white
        display: flex
        justify-content: center
        align-items: center
        position: relative
    @include desktop-up
        width: 35%

.picture-col
    @include phone-only
        display: none
    @include tablet-portrait
        display: none
    @include tablet-landscape-up
        width: 60%
        display: block
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        color: $white
        position: relative
    @include desktop-up
        width: 65%
/*----------------------------------------------------------------------*/

/*Middle Container Styling*/
.more-space-top
    @include phone-only
        padding: 3%
    @include tablet-portrait
        padding: 3%
    @include tablet-landscape-up
        padding: 3%

.reset-sent-message
    @include phone-only
        text-align: center
        font-size: 1.4em
    @include tablet-portrait
        text-align: center
        font-size: 1.4em
    @include tablet-landscape-up
        text-align: center
        font-size: 1.4em

.login-background
    @include tablet-portrait
        width: 100%
        height: 100vh
        background: $login-background
        background-size: cover
        background-position: center
        background-repeat: no-repeat
    @include tablet-landscape-up
        width: 100%
        height: 100vh
        background: $login-background
        background-size: cover
        background-position: center
        background-repeat: no-repeat

.center-container
    @include phone-only
        background: $white
        width: 100%
        position: absolute;
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
    @include tablet-portrait
        background: $white
        width: 60%
        border-radius: 20px
        position: absolute;
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        box-shadow: 0 19px 38px rgba(0,0,0,0.2), 0 15px 12px rgba(0,0,0,0.3)
    @include tablet-landscape-up
        background: $white
        width: 45%
        max-width: 500px
        border-radius: 20px
        position: absolute;
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        box-shadow: 0 19px 38px rgba(0,0,0,0.2), 0 15px 12px rgba(0,0,0,0.3)

.login-bottom
    @include phone-only
        padding-top: 40px
    @include tablet-portrait
        padding-top: 40px
    @include tablet-landscape-up
        padding-top: 40px

.login-bottom-links
    @include phone-only
        text-align: center
        margin: 10px 0px
        font-size: 1.2em
    @include tablet-portrait
        text-align: center
        margin: 10px 0px
        font-size: 1.2em
    @include tablet-landscape-up
        text-align: center
        margin: 10px 0px
        font-size: 1.2em

.login-last-link
    @include phone-only
        margin-bottom: 20px
    @include tablet-portrait
        margin-bottom: 20px
    @include tablet-landscape-up
        margin-bottom: 20px
/*----------------------------------------------------------------------*/

/*Big Column Styling*/
.signup-1
    @include tablet-landscape-up
        background-image: $signup-background-first

.signup-2
    @include tablet-landscape-up
        background-image: $signup-background-last

.motto
    @include tablet-landscape-up
        position: absolute
        left: 10%
        top: 50%
        transform: translateY(-50%)
        font-size: 1.3em
        width: 75%
        margin-right: auto
/*----------------------------------------------------------------------*/

/*Small Column Styling*/
.info-container
    @include phone-only
        width: 100%
        display: block
        margin: 0
    @include tablet-portrait
        width: 100%
        display: block
        margin: 0
    @include tablet-landscape-up
        width: 100%
        display: block
        margin: 0

img.center
    @include phone-only
        display: block
        margin: 0 auto
        width: 25%
    @include tablet-portrait
        display: block
        margin: 0 auto
        width: 25%
    @include tablet-landscape-up
        display: block
        margin: 0 auto
        width: 25%

h1.center-text
    @include phone-only
        text-align: center
        margin-top: 3%
    @include tablet-portrait
        text-align: center
        margin-top: 3%
    @include tablet-landscape-up
        text-align: center
        margin-top: 3%

h1.cursive
    @include phone-only
        font-family: $cursive-font
        font-size: 2.5em
    @include tablet-portrait
        font-family: $cursive-font
        font-size: 2.5em
    @include tablet-landscape-up
        font-family: $cursive-font
        font-size: 2.5em

.primary-button 
    @include phone-only
        display: flex
        align-items: center
        justify-content: center
        background: $deep-blue
        width: 50%
        height: 40px
        border-radius: 20px
        margin: 3% auto 3% auto
        //padding: 2% 0 2% 0
        color: $pure-white
        text-decoration: none
        text-align: center
        font-size: 1em
        border: 1px solid $deep-blue
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s
    @include tablet-portrait
        display: flex
        align-items: center
        justify-content: center
        background: $deep-blue
        width: 35%
        height: 40px
        border-radius: 20px
        margin: 3% auto 3% auto
        //padding: 2% 0 2% 0
        color: $pure-white
        text-decoration: none
        text-align: center
        font-size: 1em
        border: 1px solid $deep-blue
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s
    @include tablet-landscape-up
        display: flex
        align-items: center
        justify-content: center
        background: $deep-blue
        font-size: 1.2em
        width: 50%
        height: 40px
        border-radius: 20px
        margin: 3% auto 3% auto
        //padding: 2% 0 2% 0
        color: $pure-white
        text-decoration: none
        text-align: center
        border: 1px solid $deep-blue
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s

.primary-button:hover, .primary-button:focus
    @include phone-only 
        background: $white
        border: 1px solid $deep-blue
        color: $deep-blue
        cursor: pointer
    @include tablet-portrait
        background: $white
        border: 1px solid $deep-blue
        color: $deep-blue
        cursor: pointer
    @include tablet-landscape-up
        background: $white
        border: 1px solid $deep-blue
        color: $deep-blue
        cursor: pointer

.primary-button:focus 
    @include phone-only
        outline: none
    @include tablet-portrait
        outline: none
    @include tablet-landscape-up
        outline: none

.secondary-button
    @include phone-only 
        display: block
        border: 1px solid $deep-blue
        width: 50%
        border-radius: 20px
        margin: 3% auto 3% auto
        padding: 1% 0 1% 0
        color: $deep-blue
        text-decoration: none
        text-align: center
        font-size: 1em
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s
    @include tablet-portrait
        display: block
        border: 1px solid $deep-blue
        width: 50%
        border-radius: 20px
        margin: 3% auto 3% auto
        padding: 1% 0 1% 0
        color: $deep-blue
        text-decoration: none
        text-align: center
        font-size: 1em
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s
    @include tablet-landscape-up
        display: block
        border: 1px solid $deep-blue
        width: 50%
        border-radius: 20px
        margin: 3% auto 3% auto
        padding: 1% 0 1% 0
        color: $deep-blue
        text-decoration: none
        text-align: center
        font-size: 1em
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s

.secondary-button:hover, .secondary-button:focus 
    @include phone-only
        background: $deep-blue
        color: $pure-white
    @include tablet-portrait
        background: $deep-blue
        color: $pure-white
    @include tablet-landscape-up
        background: $deep-blue
        color: $pure-white

.secondary-button:focus
    @include phone-only
        outline: none
    @include tablet-portrait
        outline: none
    @include tablet-landscape-up
        outline: none

.small-bottom 
    @include phone-only
        display: block
        border: 1px solid $deep-blue
        width: 50%
        height: 35px
        border-radius: 20px
        margin: 0 auto
        color: $deep-blue
        text-decoration: none
        text-align: center
        font-size: 1em
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s
    @include tablet-portrait
        display: block
        border: 1px solid $deep-blue
        width: 35%
        height: 35px
        border-radius: 20px
        margin: 0 auto
        color: $deep-blue
        text-decoration: none
        text-align: center
        font-size: 1em
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s
    @include tablet-landscape-up
        display: inline
        position: absolute
        bottom: 30px
        text-align: center
        font-size: 1.2em

.small-bottom:hover, .small-bottom:focus
    @include phone-only 
        background: $deep-blue
        color: $pure-white
    @include tablet-portrait
        background: $deep-blue
        color: $pure-white

.small-bottom:focus 
    @include phone-only
        outline: none
    @include tablet-portrait
        outline: none

.link-box 
    @include phone-only
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        color: inherit
        height: 100%
    @include tablet-portrait
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        color: inherit
        height: 100%

.link-box:hover, .link-box:focus 
    @include phone-only
        color: inherit
    @include tablet-portrait
        color: inherit

.mobile-hidden
    @include phone-only
        display: none
    @include tablet-portrait
        display: none
    @include tablet-landscape-up
        display: inline
/*----------------------------------------------------------------------*/

/*Form Styling*/
.form-control
    @include phone-only
        display: block
        border: none
        border-bottom: 2px solid rgba(0,0,0,.5)
        box-sizing: border-box
        background: #F7F9FB
        font-size: 1.1em
        text-overflow: auto
        outline: none
        margin: 0 auto
        padding: 3% 3% 2% 4%
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s
    @include tablet-portrait
        display: block
        border: none
        width: 35%
        border-bottom: 2px solid rgba(0,0,0,.5)
        box-sizing: border-box
        background: #F7F9FB
        font-size: 1.1em
        text-overflow: auto
        outline: none
        margin: 0 auto
        padding: 3% 1% 2% 1%
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s
    @include tablet-landscape-up
        display: block
        border: none
        width: 60%
        border-bottom: 2px solid rgba(0,0,0,.5)
        box-sizing: border-box
        background: #F7F9FB
        font-size: 1.1em
        text-overflow: auto
        outline: none
        margin: 0 auto
        padding: 3% 1% 2% 1%
        -webkit-transition-duration: 0.4s /* Safari */
        -moz-transition-duration: 0.4s /* Firefox */
        -o-transition-duration: 0.4s /* Edge */
        transition-duration: 0.4s

.form-control:focus
    @include phone-only
        outline: none
        background: #F7F9FB
        font-size: 1.1em
        text-overflow: auto
    @include tablet-portrait
        outline: none
        background: #F7F9FB
        font-size: 1.1em
        text-overflow: auto
    @include tablet-landscape-up
        outline: none
        background: #F7F9FB
        font-size: 1.1em
        text-overflow: auto

hidden-labels
    @include phone-only
        position: absolute
        top: -9999px
        left: -9999px
    @include tablet-portrait
        position: absolute
        top: -9999px
        left: -9999px
    @include tablet-landscape-up
        position: absolute
        top: -9999px
        left: -9999px
/*----------------------------------------------------------------------*/