<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Sustainable Chef{% endblock %}</title>
  <link rel='shortcut icon' type='image/png' href="{% static 'favicon.ico' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito|Pacifico&display=swap" rel="stylesheet"> 
  {% block css %}
  <link>
  {% endblock %}
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>