@use variables, mixins {}main {
  margin: 0;
  padding: 0; }

body {
  line-height: 142%;
  font-family: "Nunito", sans-serif;
  background: #F7F9FB;
  margin: 0;
  padding: 0; }

.italic {
  font-style: italic; }

.bold {
  font-weight: 900; }

.no-text-d {
  text-decoration: none; }

/*Global Settings*/
/*----------------------------------------------------------------------*/
/*Two Column Styling*/
@media screen and (min-width: 900px) {
  .container {
    display: flex;
    width: 100vw;
    height: 100vh; } }

@media screen and (min-width: 900px) {
  .info-l {
    flex-direction: row; } }

@media screen and (min-width: 900px) {
  .info-r {
    flex-direction: row-reverse; } }

@media screen and (max-width: 599px) {
  .info-col {
    width: 100%;
    height: 70vh;
    margin: 15vh 0 15vh 0;
    background: #F7F9FB; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .info-col {
    width: 100%;
    height: 80vh;
    margin: 10vh 0 10vh 0;
    background: #F7F9FB; } }

@media screen and (min-width: 900px) {
  .info-col {
    width: 40%;
    background: 100% #F7F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; } }

@media screen and (min-width: 1200px) {
  .info-col {
    width: 35%; } }

@media screen and (max-width: 599px) {
  .picture-col {
    display: none; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .picture-col {
    display: none; } }

@media screen and (min-width: 900px) {
  .picture-col {
    width: 60%;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #F7F9FB;
    position: relative; } }

@media screen and (min-width: 1200px) {
  .picture-col {
    width: 65%; } }

/*----------------------------------------------------------------------*/
/*Middle Container Styling*/
@media screen and (max-width: 599px) {
  .more-space-top {
    padding: 3%; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .more-space-top {
    padding: 3%; } }

@media screen and (min-width: 900px) {
  .more-space-top {
    padding: 3%; } }

@media screen and (max-width: 599px) {
  .reset-sent-message {
    text-align: center;
    font-size: 1.4em; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .reset-sent-message {
    text-align: center;
    font-size: 1.4em; } }

@media screen and (min-width: 900px) {
  .reset-sent-message {
    text-align: center;
    font-size: 1.4em; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .login-background {
    width: 100%;
    height: 100vh;
    background: url(../images/grapes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; } }

@media screen and (min-width: 900px) {
  .login-background {
    width: 100%;
    height: 100vh;
    background: url(../images/grapes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; } }

@media screen and (max-width: 599px) {
  .center-container {
    background: #F7F9FB;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .center-container {
    background: #F7F9FB;
    width: 60%;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.3); } }

@media screen and (min-width: 900px) {
  .center-container {
    background: #F7F9FB;
    width: 45%;
    max-width: 500px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.3); } }

@media screen and (max-width: 599px) {
  .login-bottom {
    padding-top: 40px; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .login-bottom {
    padding-top: 40px; } }

@media screen and (min-width: 900px) {
  .login-bottom {
    padding-top: 40px; } }

@media screen and (max-width: 599px) {
  .login-bottom-links {
    text-align: center;
    margin: 10px 0px;
    font-size: 1.2em; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .login-bottom-links {
    text-align: center;
    margin: 10px 0px;
    font-size: 1.2em; } }

@media screen and (min-width: 900px) {
  .login-bottom-links {
    text-align: center;
    margin: 10px 0px;
    font-size: 1.2em; } }

@media screen and (max-width: 599px) {
  .login-last-link {
    margin-bottom: 20px; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .login-last-link {
    margin-bottom: 20px; } }

@media screen and (min-width: 900px) {
  .login-last-link {
    margin-bottom: 20px; } }

/*----------------------------------------------------------------------*/
/*Big Column Styling*/
@media screen and (min-width: 900px) {
  .signup-1 {
    background-image: linear-gradient(45deg, rgba(143, 193, 227, 0.6), rgba(49, 112, 142, 0.6) 50%, rgba(143, 193, 227, 0.6)), url(../images/tomatoes.jpg); } }

@media screen and (min-width: 900px) {
  .signup-2 {
    background-image: url(../images/chef_cutting.jpg); } }

@media screen and (min-width: 900px) {
  .motto {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3em;
    width: 75%;
    margin-right: auto; } }

/*----------------------------------------------------------------------*/
/*Small Column Styling*/
@media screen and (max-width: 599px) {
  .info-container {
    width: 100%;
    display: block;
    margin: 0; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .info-container {
    width: 100%;
    display: block;
    margin: 0; } }

@media screen and (min-width: 900px) {
  .info-container {
    width: 100%;
    display: block;
    margin: 0; } }

@media screen and (max-width: 599px) {
  img.center {
    display: block;
    margin: 0 auto;
    width: 25%; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  img.center {
    display: block;
    margin: 0 auto;
    width: 25%; } }

@media screen and (min-width: 900px) {
  img.center {
    display: block;
    margin: 0 auto;
    width: 25%; } }

@media screen and (max-width: 599px) {
  h1.center-text {
    text-align: center;
    margin-top: 3%; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  h1.center-text {
    text-align: center;
    margin-top: 3%; } }

@media screen and (min-width: 900px) {
  h1.center-text {
    text-align: center;
    margin-top: 3%; } }

@media screen and (max-width: 599px) {
  h1.cursive {
    font-family: "Pacifico", cursive;
    font-size: 2.5em; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  h1.cursive {
    font-family: "Pacifico", cursive;
    font-size: 2.5em; } }

@media screen and (min-width: 900px) {
  h1.cursive {
    font-family: "Pacifico", cursive;
    font-size: 2.5em; } }

@media screen and (max-width: 599px) {
  .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cf5623;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    margin: 3% auto 3% auto;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    border: 1px solid #cf5623;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cf5623;
    width: 35%;
    height: 40px;
    border-radius: 20px;
    margin: 3% auto 3% auto;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    border: 1px solid #cf5623;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (min-width: 900px) {
  .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cf5623;
    font-size: 1.2em;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    margin: 3% auto 3% auto;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #cf5623;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (max-width: 599px) {
  .primary-button:hover, .primary-button:focus {
    background: #F7F9FB;
    border: 1px solid #cf5623;
    color: #cf5623;
    cursor: pointer; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .primary-button:hover, .primary-button:focus {
    background: #F7F9FB;
    border: 1px solid #cf5623;
    color: #cf5623;
    cursor: pointer; } }

@media screen and (min-width: 900px) {
  .primary-button:hover, .primary-button:focus {
    background: #F7F9FB;
    border: 1px solid #cf5623;
    color: #cf5623;
    cursor: pointer; } }

@media screen and (max-width: 599px) {
  .primary-button:focus {
    outline: none; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .primary-button:focus {
    outline: none; } }

@media screen and (min-width: 900px) {
  .primary-button:focus {
    outline: none; } }

@media screen and (max-width: 599px) {
  .secondary-button {
    display: block;
    border: 1px solid #cf5623;
    width: 50%;
    border-radius: 20px;
    margin: 3% auto 3% auto;
    padding: 1% 0 1% 0;
    color: #cf5623;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .secondary-button {
    display: block;
    border: 1px solid #cf5623;
    width: 50%;
    border-radius: 20px;
    margin: 3% auto 3% auto;
    padding: 1% 0 1% 0;
    color: #cf5623;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (min-width: 900px) {
  .secondary-button {
    display: block;
    border: 1px solid #cf5623;
    width: 50%;
    border-radius: 20px;
    margin: 3% auto 3% auto;
    padding: 1% 0 1% 0;
    color: #cf5623;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (max-width: 599px) {
  .secondary-button:hover, .secondary-button:focus {
    background: #cf5623;
    color: #fff; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .secondary-button:hover, .secondary-button:focus {
    background: #cf5623;
    color: #fff; } }

@media screen and (min-width: 900px) {
  .secondary-button:hover, .secondary-button:focus {
    background: #cf5623;
    color: #fff; } }

@media screen and (max-width: 599px) {
  .secondary-button:focus {
    outline: none; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .secondary-button:focus {
    outline: none; } }

@media screen and (min-width: 900px) {
  .secondary-button:focus {
    outline: none; } }

@media screen and (max-width: 599px) {
  .small-bottom {
    display: block;
    border: 1px solid #cf5623;
    width: 50%;
    height: 35px;
    border-radius: 20px;
    margin: 0 auto;
    color: #cf5623;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .small-bottom {
    display: block;
    border: 1px solid #cf5623;
    width: 35%;
    height: 35px;
    border-radius: 20px;
    margin: 0 auto;
    color: #cf5623;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (min-width: 900px) {
  .small-bottom {
    display: inline;
    position: absolute;
    bottom: 30px;
    text-align: center;
    font-size: 1.2em; } }

@media screen and (max-width: 599px) {
  .small-bottom:hover, .small-bottom:focus {
    background: #cf5623;
    color: #fff; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .small-bottom:hover, .small-bottom:focus {
    background: #cf5623;
    color: #fff; } }

@media screen and (max-width: 599px) {
  .small-bottom:focus {
    outline: none; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .small-bottom:focus {
    outline: none; } }

@media screen and (max-width: 599px) {
  .link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: inherit;
    height: 100%; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: inherit;
    height: 100%; } }

@media screen and (max-width: 599px) {
  .link-box:hover, .link-box:focus {
    color: inherit; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .link-box:hover, .link-box:focus {
    color: inherit; } }

@media screen and (max-width: 599px) {
  .mobile-hidden {
    display: none; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .mobile-hidden {
    display: none; } }

@media screen and (min-width: 900px) {
  .mobile-hidden {
    display: inline; } }

/*----------------------------------------------------------------------*/
/*Form Styling*/
@media screen and (max-width: 599px) {
  .form-control {
    display: block;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    background: #F7F9FB;
    font-size: 1.1em;
    text-overflow: auto;
    outline: none;
    margin: 0 auto;
    padding: 3% 3% 2% 4%;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .form-control {
    display: block;
    border: none;
    width: 35%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    background: #F7F9FB;
    font-size: 1.1em;
    text-overflow: auto;
    outline: none;
    margin: 0 auto;
    padding: 3% 1% 2% 1%;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (min-width: 900px) {
  .form-control {
    display: block;
    border: none;
    width: 60%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    background: #F7F9FB;
    font-size: 1.1em;
    text-overflow: auto;
    outline: none;
    margin: 0 auto;
    padding: 3% 1% 2% 1%;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s; } }

@media screen and (max-width: 599px) {
  .form-control:focus {
    outline: none;
    background: #F7F9FB;
    font-size: 1.1em;
    text-overflow: auto; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .form-control:focus {
    outline: none;
    background: #F7F9FB;
    font-size: 1.1em;
    text-overflow: auto; } }

@media screen and (min-width: 900px) {
  .form-control:focus {
    outline: none;
    background: #F7F9FB;
    font-size: 1.1em;
    text-overflow: auto; } }

@media screen and (max-width: 599px) {
  hidden-labels {
    position: absolute;
    top: -9999px;
    left: -9999px; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  hidden-labels {
    position: absolute;
    top: -9999px;
    left: -9999px; } }

@media screen and (min-width: 900px) {
  hidden-labels {
    position: absolute;
    top: -9999px;
    left: -9999px; } }

/*----------------------------------------------------------------------*/

/*# sourceMappingURL=background-side.css.map */