<!-- templates/end_signup.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load sass_tags %}

{% block title %}Sign Up{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'users/css/background-side.sass' %}">
  {{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class='container info-r'>
  <div class='info-col' id='login'>
    <div class='info-container'>
      <img class='center' src="{% static 'users/images/logo.png' %}" alt='Chef Logo'/>
      <h1 class='center-text'>Sign Up</h1>
      <form method="post">
        {{ wizard.management_form }}
        {% csrf_token %}
        <div>
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              <div class='hello'>
                {{ form }}
              </div>
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
        </div>
        <button class='primary-button' type='submit'>Sign Up</button>
      </form>   
    </div>
    <div class='small-bottom'>
      <span class='mobile-hidden'>Already have an account?</span>
      <a class='no-text-d link-box' href="{% url 'login' %}">Log In</a>
    </div>
  </div>
  <div class='picture-col signup-2' />
</div>
{% endblock %}