<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logged_out' %}">logout</a></p>
  <p><a href="{% url 'password_change' %}">change password</a></p>
  <p><a href="{% url 'scanner' %}"> Scan products</a></p>
{% else %}
  <p>You are not logged in</p>
  <p><a href="{% url 'login' %}">Login</a></p>
  <p><a href="{% url 'signup' %}">Sign Up</a></p>

{% endif %}
{% endblock %}