<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'users/css/background-side.sass' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class='login-background' />
<div class='center-container'>
  <img class='center' src="{% static 'users/images/logo.png' %}" alt='Chef Logo'/>
  <h1 class='center-text cursive'>Welcome Back!</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class='primary-button' type="submit">Login</button>
  </form>   
  <div class= 'login-bottom'>
    <div class='login-bottom-links'>
      <span class=''>Forgot</span>
      <a class='no-text-d' href="{% url 'signup' %}">Username</a><span> / </span><a class='no-text-d' href="{% url 'password_reset' %}">Password</a> 
    </div>
    <div class='login-bottom-links login-last-link'>
      <span class=''>Don't have an account?</span>
      <a class='no-text-d' href="{% url 'signup' %}">Sign Up</a>
    </div>
  </div>
</div>
{% endblock %}