<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load sass_tags %}

{% block title %}Sign Up{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'users/css/background-side.sass' %}">
  {{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class='container info-l'>
  <div class='info-col' id='login'>
    <div class='info-container'>
      <img class='center' src="{% static 'users/images/logo.png' %}" alt='Chef Logo'/>
      <h1 class='center-text cursive'>Sustainable Chef</h1>
      <form method="post">
        {{ wizard.management_form }}
        {% csrf_token %}
        <div>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
          {% endif %}
        </div>
        <button class='primary-button' type='submit'>Get Started</button>
      </form>   
    </div>
    <div class='small-bottom'>
      <span class='mobile-hidden'>Already have an account?</span>
      <a class='no-text-d link-box' href="{% url 'login' %}">Log In</a>
    </div>
  </div>
  <div class='picture-col signup-1'>
    <div class='motto'>
      <h1 class='bold'>Cook <span class='italic'>More</span>. Waste <span class='italic'>Less</span>.</h1>
      <p>In the United States, food waste is estimated at between 30-40 percent of the food supply. Reducing waste starts with <span class='italic bold'>you.</span></p>
    </div>
  </div>
</div>
{% endblock %}