html
    margin: 0
    padding: 0
body
    margin: 0
    padding: 0
    line-height: 142%
    font-family: Nunito, sans-serif
    background: #F7F9FB

main
    margin: 0
    padding: 0
    height: 100vh
    width: 100%

.header
    height: 70px
    margin: 0
    padding: 0
    background: #5085A5
    display: flex
    justify-content: space-between


.headerImage
    width: 85px    

.centerHeader
    text-align: center

.navLinks
    width: 25%
    display: flex
    flex-direction: row
    align-items: center

.navLink
    margin: 0 3%

.profileLinks
    width: 25%
    display: flex
    flex-direction: row-reverse
    align-items: center

.profileLink
    margin: 0 3%