html
    margin: 0
    padding: 0
body
    margin: 0
    padding: 0
    line-height: 142%
    font-family: Nunito, sans-serif
    background: #F7F9FB

main
    margin: 0
    padding: 0
    height: 100vh
    width: 100%

.flexWrap
    display: flex
    flex-direction: row

.spaceB
    justify-content: space-between
    

.noStyle
    list-style-type: none

.header
    height: 70px
    margin: 0
    padding: 0
    background: #5085A5

    h1
        margin: 0
        padding-top: .67em

    .username
        position: absolute
        top: 30px
        right: 30px

.centerHeader
    text-align: center

.dashBackground
    background: rgba(169,169,169,.4)

.new_recipes
    margin: 3% 0

.mainContent
    width: 80%
    margin: 3% auto

.dashItem
    width: 30%

.recipeImg
    width: 65%

.recipeLi
    width: 19%

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer 
    margin-left: -100%

.expiringLi:first-child > span:first-child
    color: red

.expiringLi:nth-child(2) > span:first-child
    color: yellow

.expiringLi:nth-child(3) > span:first-child
    color: green

.expiringText
    padding-right: 5%
    font-size: 2em

.expiringLi
    margin: 8% -5%
    width: 95%
      
.expiringTimeline
    font-size: 1.3em

.boldFont
    font-weight: 900
